'atom-text-editor':
  'ctrl-space': 'autocomplete-plus-tmp:activate'

'atom-text-editor.autocomplete-active':
  'escape': 'autocomplete-plus-tmp:cancel'
  'f1': 'autocomplete-plus-tmp:navigate-to-description-more-link'
